.auditorium {
    margin-top: 110%;
    transition: margin-top 1000ms;
}

.auditorium.animate{
    margin-top: 0;
}

.row{
  position: relative;
  left: -200%;
  transition: left 1000ms;
  transition-delay: 1000ms;
}

.row.animate {
    left: 0;
}

.seat {
  min-width: 70px;
  margin: 0 5px 5px 0;
}

.seat:last-child {
  margin-right: 0;
}

.booked {
  background-color: #F44336;
}

.reserved {
  background-color: #2196F3;
}
