<md-toolbar color="primary">

  <span>My cinema</span>

  <span style="flex: 1 1 auto;"></span>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>account_circle</md-icon>
  </button>

  <md-menu x-position="before" #menu="mdMenu">

    <div *ngIf="!isAuth">

      <button md-menu-item disabled>
        Log in using:
      </button>

      <button (click)="login('google')" md-menu-item>
        <img width="24" src="google-logo.png"/>&nbsp; Google Account
      </button>

      <button (click)="login('facebook')" md-menu-item>
        <img width="24" src="facebook-logo.png"/>&nbsp; Facebook Account
      </button>

      <button (click)="login('twitter')" md-menu-item>
        <img width="24" src="twitter-logo.png"/>&nbsp; Twitter Account
      </button>

      <button (click)="login('github')" md-menu-item>
        <img width="24" src="github-logo.png"/>&nbsp; GitHub Account
      </button>

    </div>

    <button *ngIf="isAuth" md-button (click)="logout()">Logout</button>

  </md-menu>

</md-toolbar>

<md-tab-group>
  <md-tab>
    <template md-tab-label>Ticket</template>
    <template md-tab-content>

      <div class="container">
        <moviegoer></moviegoer>
      </div>

    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Seats</template>
    <template md-tab-content>

      <div class="container">
        <theater></theater>
      </div>

    </template>
  </md-tab>
  <md-tab *ngIf="isAuth">
    <template md-tab-label>My account</template>
    <template md-tab-content>

      <div class="container">
        <md-card>
          <md-card-header>
            <img md-card-avatar [src]="user.avatar || 'avatar.png'">
            <md-card-title>{{ user.name }}</md-card-title>
            <md-card-subtitle>{{ user.email || '(no email)' }}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p>You are logged in using
              <strong>{{ user.provider }}</strong>
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button (click)="logout()">Logout</button>
          </md-card-actions>
        </md-card>
      </div>

    </template>
  </md-tab>
</md-tab-group>
